// generated with jinja2
use phf::phf_map;
use crate::encoders::types::{{ encoder_struct }};

pub const ENCODER: {{ encoder_struct }} = {{ encoder_struct }} {
  token2encoded: &phf_map! {
{% for token, encoded in token2encoded.items() %}
    {{ token }} => {{ encoded }},
{% endfor %}
  },
  encoded2token: &phf_map! {
{% for token, encoded in token2encoded.items() %}
    {{ encoded }} => {{ token }},
{% endfor %}
  },
{% if encoder_struct == 'TokenEncoder' %}
  token_max_chars: {{ token_max_chars }},
{% endif %}
};
