// generated with jinja2
use phf::{Map, phf_map};

{% set size_thresholds = [64, 512, 2048] %}
pub static TOKEN2INT: &'static [&Map<&'static str, u16>] = &[
    &phf_map! {
{% for token, encoded in token2encoded.items() %}
{% if loop.index in size_thresholds %}
    },
    &phf_map! {
{% endif %}
        {{ token }} => {{ encoded }}u16,
{% endfor %}
    },
];

pub static INT2TOKEN: &'static [&Map<u16, &'static str>] = &[
    &phf_map! {
{% for token, encoded in token2encoded.items() %}
{% if loop.index in size_thresholds %}
    },
    &phf_map! {
{% endif %}
        {{ encoded }}u16 => {{ token }},
{% endfor %}
    },
];
