// generated with jinja2
use phf::{Map, phf_map};

pub static TOKEN2INT: Map<&'static str, u16> = phf_map! {
{% for token, encoded in token2encoded.items() %}
    {{ token }} => {{ encoded }}u16,
{% endfor %}
};

pub static INT2TOKEN: Map<u16, &'static str> = phf_map! {
{% for token, encoded in token2encoded.items() %}
    {{ encoded }}u16 => {{ token }},
{% endfor %}
};
